*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

/*div container*/
.flexContainer{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

/*Capçalera*/
header{
    background-color: rgb(177, 27, 177);
    outline:1px solid black;

    flex: 1;
}

/*Barra de navegació*/
nav{
    justify-content: center;
    background-color: rgb(195, 18, 195);
    outline:1px solid black;

    /*Posicionament vertical
    position: relative;*/

    flex: 1;
}

nav a{
    color: blue;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover{
    background-color: var(white)
}
ul{
    /*Posicionament vertical
    position: absolute;
    top: 50%;
    transform: translateY(-50%);*/

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    list-style: none;
}

li{
    border: 1px solid white;   
}

/*Cos*/
main{
    background-color: dodgerblue;
    outline:1px solid black;

    flex: 14;

    display: flex;
    flex-direction: row;
}

article{
    background-color: cadetblue;
    outline:1px solid black;

    flex: 4;
}

aside{
    background-color: cornflowerblue;
    outline:1px solid black;

    flex: 1;
}

/*Footer*/
footer{
    background-color: darkcyan;
    outline:1px solid black;

    flex: 2;
}